<ul class="list-inline">
    <li><a class="small" onClick="ga('send', 'event', 'find-soulmate', 'click');" data-toggle="modal" data-target="#dedicatoria">
  Dedicatoria
</a></li>
</ul>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="dedicatoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Dedicado a</h4>
      </div>
      <div class="modal-body">
        Todas las líneas de código, todos los diseños fueron inspirados por la presencia de nuestros ex-compañeros de trabajo:
        <ul>
        	<li>Daniela Tejada</li>
        	<li>Marcel Augsburger</li>
        	<li>Juan Pablo Perez</li>
        	<li>Valentina Barahona</li>
        	<li>María Jaraquemada</li>
        	<li>Eduardo Villanueva</li>
          <li>Pedro Daire</li>
        </ul>
      </div>
    </div>
  </div>
</div>
