interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.facebook.com/search?q=Pablo+Moya+Valdivia&access_token=FieraEsLaMejorAmigaDeTodos&type=page
  response:
    body: {string: !!python/unicode '{"data":[{"name":"Pablo Moya Concejal por Valdivia","id":"1720493748204793"}],"paging":{"cursors":{"before":"MAZDZD","after":"MAZDZD"}}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      etag: ['"ff42391f4b095dd69f633d62fd880322a9f831bf"']
      facebook-api-version: [v2.5]
    status: {code: 200, message: OK}
version: 1
